<div class="container background-image">
   <div class="row">
      <div class="col-sm-12">


         
         <div style="text-align: center; margin-top: 25%;">
            <div class="fade-image-container">
               <img src="/img/Rectangle-25.png" style="display: inline-block;">
               <p class="text-head">Find the perfect driving school</p>
               <p class="text-paragraph">iDryve provides a wide range of driving schools to meet all your needs on your journy from a learners licence to your full licence.</p>
            </div>
         </div>

         <div style="text-align: center; margin-top: 10%;">
            <button style="border:none;background-color: #1A457C; border-radius: 100px; width: 100px; height: 100px;"><img src="/img/Sign_in_circle.png"></button>
         </div>
         
      </div>
   </div>
</div>
