.border-around
{
    border: 1px solid;
    border-radius: 15px;
    background-color: white;
}

input
{
    border: none;
    width: 50%;
}

input:focus
{
    border: none;
}

.background-image
{
    background-image: url('/img/background.png');
}

select
{
    border: none;
}

.img-geo-size
{
    width: 25px !important;
}