<div class="container background-image">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="margin-top: 60%;background-color: white; border-top-left-radius: 20px; border-top-right-radius: 20px; width: 100% !important;">
 
                <div style="text-align: center;">
                <img src="/img/complete.png" style="margin-top: 25%;width: 160px; height: auto; align-items: center;">

                <p style="margin-top: 15%; font-size: 22px; font-weight: 700; color: #323232; font-family: 'Be Vietnam Pro';">Success!</p>
                <p style="margin-top: 5%; font-size: 14px; font-weight: 500; font-family: 'Poppins'; color: #777777; padding-left: 20%;padding-right: 20%;">Your Profile has been updated, you can now browse Driving Schools.</p>
                </div>

               



                <div style="text-align: center; margin-top: 40%;">
                <button style="background-color: #1A457C; color: #FFFFFF; border-radius: 35px; font-size: 20px; width: 60%; height: 60px;" type="submit">Continue</button>
                </div>

            </div>

        </div>

    </div>
</div>
