<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="display: flex;justify-content: space-between;" class="mt-4">
                <p style="font-size: 36px; font-weight: 700; color: #455A64;">Profile</p>
                <img src="/img/x-lg.svg">
            </div>

            <div style="text-align: center;">
                <img src="/img/Mask-group.png" style="text-align: center;">
                <p style="color: #455A64; font-size: 20px; font-weight: 700; padding-top: 5%;">Thabo Baloyi</p>
                <p style="color: #828283; font-size: 14px; font-weight: 500;">920219 8418 088</p>
                <div style="display: inline-flex;">
                    <img src="/img/person-bounding-box.svg" style="margin-right: 3%;"><p style="color: #1A457C; font-weight: 500; padding-top: 7%;">Learner</p>
                </div>
                <p style="color:#828283; ">Profile Incomplete: <span style="color: #FF0004;font-weight: 500;">78%</span></p>
            </div>

            <form [formGroup]="createAccountForm">
                <div class="form-group border-around p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px; font-weight: 500;">First Name</label>
                <input type="text" formControlName="firstName" placeholder="Enter your first name">
                </div>
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px; font-weight: 500;">Last Name</label>
                <input type="text" formControlName="lastName" placeholder="Enter your last name">
                </div>
        
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px;">ID Number</label>
                <input type="text" formControlName="idNumber" placeholder="Enter your ID number">
                </div>
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px;">Phone Number</label>
                <input type="text" formControlName="phoneNumber" placeholder="Enter your phone number">
                </div>
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px;">E-mail</label>
                <input type="text" formControlName="email" placeholder="Enter your email">
                </div>
        
        
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <label style="color: #828283; font-size: 14px;">Password</label>
                <input type="text" formControlName="password" placeholder="Enter your password">
                </div>
        
        
                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                <div style="display: inline-block;">
                <label style="color: #828283; font-size: 14px;">Residential Address</label><img class="img-geo-size" src="/img/geo-alt.svg" style="float:right;padding-top: 1%;">
                </div>
                <input type="text" formControlName="streetName" placeholder="Enter your street name">
                <hr>
                
                <input  type="text" formControlName="town" placeholder="Enter your town">
                <hr>
        
                <input type="text" formControlName="province" placeholder="Enter your province">
                <hr>
                
                <input type="text" formControlName="postalCode" placeholder="Enter your postal code">
                </div>

                <div class="form-group border-around mt-3 p-2" style="display: flex; flex-direction: column;">
                    <label style="color: #828283; font-size: 14px;">Citizenship</label>
                    <select formControlName="citizenship" placeholder="Select citizenship">
                        <option style="color: #828283; font-size: 14px; font-weight: 500;" value="" selected>Select citizenship</option>
                        <option value="South African">South African</option>
                        <option value="Botswana">Botswana</option>
                    </select>
                    </div>
        
                <div *ngIf="createAccountForm.get('citizenship')?.value == 'South African'" class="form-group border-around mt-3">
                    <div style="display: inline-flex; width: 97%;">
                        <label for="upload" class="upload-button">Attach a copy of your ID</label>
                        <input style="width: 100%;" type="file" id="upload"><img style="width: 25px; height: auto;" src="/img/link-45deg.svg">
                    </div>
                </div>
                
                <div *ngIf="createAccountForm.get('citizenship')?.value !== 'South African'" class="form-group border-around mt-3">
                    <div style="display: inline-flex; width: 97%;">
                        <label for="upload" class="upload-button">Attach a copy of your Passport</label>
                        <input style="width: 100%;" type="file" id="upload"><img style="width: 25px; height: auto;" src="/img/link-45deg.svg">
                    </div>
                </div>
        
                <div *ngIf="createAccountForm.get('citizenship')?.value !== 'South African'" class="form-group border-around mt-3">
                    <div style="display: inline-flex; width: 97%;">
                        <label for="upload" class="upload-button">Attach your permission document</label>
                        <input style="width: 100%;" type="file" id="upload"><img style="width: 25px; height: auto;" src="/img/link-45deg.svg">
                    </div>
                </div>
        
                <div *ngIf="createAccountForm.get('citizenship')?.value !== 'South African'" class="form-group border-around mt-3">
                    <div style="display: inline-flex; width: 97%;">
                        <label for="upload" class="upload-button">Do you have a learners licence?</label>
                        <input style="width: 100%;" type="file" id="upload"><img style="width: 25px; height: auto;" src="/img/link-45deg.svg">
                    </div>
                </div>
        
                <div class="form-group mt-3 border-around p-2">
                    <label style="text-align: left;color: #828283; font-size: 14px; font-weight: 500;">Agent Referral</label>
                    <select formControlName="agentReferral" placeholder="Select agent referral">
                        <option value="" selected>Select Agent</option>
                        <option value="Phumudzo">Phumudzo</option>
                        <option value="Tshivhase">Tshivhase</option>
                    </select>
                    </div>
            
        
        
                <div style="display: inline-flex; gap: 20px;justify-content: center;margin-left: 10%;">
                <div class="form-group border-around mt-3 p-2">
                <label style="color: #828283; font-size: 14px; font-weight: 500; display: flex; flex-direction: column;">Gender</label>
                <select formControlName="gender" placeholder="Select gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                </div>
        
        
                <div class="form-group border-around mt-3 p-2">
                <label style="color: #828283; font-size: 14px; font-weight: 500;  display: flex; flex-direction: column;" for="race">Race</label>
               <select formControlName="race" id="race" placeholder="Select Gender">
                <option value="African">African</option>
                <option value="Asian">Asian</option>
                <option value="European">European</option>
               </select>
                </div>
        
        
                <div class="form-group mt-3 border-around p-2">
                    
               <label style="color: #828283; font-size: 14px; font-weight: 500;  display: flex; flex-direction: column;">disability</label>
                <select formControlName="disability" placeholder="Select your disability">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                  </select>
                </div>
            </div>
        
        
               
        
                <div class="form-group text-center mt-5">
                <button style="background-color: #1A457C; color: #FFFFFF; border-radius: 35px; font-size: 20px; width: 60%; height: 60px;" type="submit">Update Profile</button>
                </div>
        
                
        
            </form>
        </div>

    </div>

</div>