.border-around
{
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    border-color: #FFFFFF;
    box-shadow: 0px 3px 14px #00000026;
  
}

input
{
    border: none;
    width: 100%;
}

textarea::placeholder{
    font-style: italic;
    padding-left: 2%;
    padding-top: 2%;
}

.special-input
{
    border: 1px solid #455A6436;
    border-radius: 20px;
    height: 120px;
    margin-top: 3%;
}

input:focus
{
    border: none;
}


select
{
    border: none;
    width: 100%;
}

.img-geo-size
{
    width: 25px !important;
}

.upload-button
{
    
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    color: #828283; 
    font-size: 14px; 
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 2%; 
}

input[type="file"] {
    display: none;
  }
