<div class="container background-image">
    <div class="row">
        <div class="col-sm-12">
            <p class="mt-5 mb-5" style="font-size: 36px; color: #455A64;text-align: center; font-weight: 700;">Create Password</p>

            <div style="text-align: center;">
                <img src="/img/Order-ride-pana.png" style="align-items: center;">
            </div>


           <form>
            <div style="margin-left: 10%; margin-right: 10%;">
            <label class="p-1" style="text-align: left;">Password</label>
            <div class="form-group border-around p-2 mb-3" style="display: flex; flex-direction: column;">
               
                <div style="display: inline-flex;">
                    
                <input type="password" placeholder="Create your password"><img style="width: 30px;height: auto;" src="/img/eye-slash.svg">
                </div>
            </div>

            <label class="p-1" style="text-align: left;">Confirm Password</label>
            <div class="form-group border-around p-2 mb-3" style="display: flex; flex-direction: column;">
                <div style="display: inline-flex;">
                <input type="password"  placeholder="Confirm your password"><img style="width: 30px;height: auto;" src="/img/eye-slash.svg">
                </div>
            </div>
        </div>
                
            

            <div class="mt-5" style="text-align: center;">
                <button style="border-color: #1A457C ;background-color: #1A457C; color: #FFFFFF; border-radius: 35px; font-size: 20px; width: 60%; height: 60px;" type="submit">Create Password</button>
            </div>

        </form>

        </div>
    </div>

</div>
