.background-image
{
    background-image: url('/img/background.png');
}

input
{
    border: none;
    width: 100%;
    background-color: #F8F5F5;
    font-size: 48px;
}

.border-around
{
    border: 1px solid #F8F5F5;
    border-radius: 35px;
    background-color: #F8F5F5;
   
    
}

::placeholder
{
    font-size: 14px;
    margin-bottom: 35px !important;
}