<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="position: fixed;display: inline-flex; width: 100%; text-align: center; background-color: #FFFFFF; height: 60px !important;" class="mx-4">
                <div>
                    <img src="/img/house-door.svg" style="width: 30px; text-align: center;">
                </div>
                <div>
                    <img src="/img/person.svg"  style="width: 30px; text-align: center;">
                </div>
                <div>
                    <img src="/img/star-fill.svg"  style="width: 30px; text-align: center;">
                </div>
                <div style="display: inline-flex; flex-direction: column; text-align: center;">
                    <img src="/img/chat-dots.svg"  style="width: 30px;">
                    <a href="">Notification</a>
                   
                </div>
            </div>
        </div>
    </div>
</div>
